@media (max-width: 480px) { 
  font-size:14px !important;
  div{
    font-size:14px !important;
  }
  h1{
    font-size:20px !important;
  }
  h2{
    font-size:18px !important;
  }
  h3{
    font-size:17px !important;
  }
  h4, h5{
    font-size:15px !important;
  }
  li{
    font-size:16px !important;
  }
  button{
    padding:5px !important;
  }
}